html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

.background{
    background-color: #fff;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.main-div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 6px;

    /* this is here until i find out what class it actually is supposed to be in */
    /* 1 */
    height: 60px;
    
    /* 2 */
    flex-shrink: 0;
    box-sizing: border-box;
}

.left-nav-bar-items{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;

    color: #222;
}

#left-nav-bar-about{
    margin-left: 15px;
}